html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("park.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #111;
  color: #fff;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #ddd;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #fff;
}

.btn {
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  transition: 0.2s ease;
  bottom: 20px;
  right: 20px;
  position: fixed;
  background-color: black;
}

.btn:hover {
  background: white;
  color: black;
}

.header{
    font-size: larger;
    color: ghostwhite;
    text-anchor: middle;
    align-items: center;
    justify-content: center;
    display: flex;
}

